html * {
    font-size: 1em;
    font-family: Arial;
}
body {
    margin: 0;
}

/* THE NAVBAR */


/* CONTENT */

/* Create some padding for high widths */
@media (min-width: 400px) {
    .my-navbar__right{
        float: right;
    }
}

@media (min-width: 600px) {
    .container {
        margin-left: 25%;
        margin-right: 25%;
    }

}
.count-view-color {
    background-color: #cceeff;
}
.input-view-color {
    background-color: #ffe6cc;
}
.settings-view-color {
    background-color: #dedede;
}
.row {
    padding-bottom: 4px;
    white-space: nowrap;
    line-height: 38px;
}
.row> label {
    width: 33%;
    display: inline-block;
}
.row> input {
    white-space: pre;
    font-family: monospace;
    height: 32px;
    width: 20%;
}
.row> span {
    white-space: pre;
    padding-left: 4px;
    width: 47%;
    font-family: monospace;
}
.formatted-output-result {
    margin-left: 20%;
    padding-left: 12px !important;
    position: relative;
}
.server-page {}
.server-page> label
}
