<div class="{{mainViewColor}} main-view" ng-controller="countController">
    <div class="container page-content">
        <div ng-repeat="item in $storage.count.fields">
            <div ng-if="item.isInput === true" class="row">
                <label>{{item.label}}</label>
                <input ng-attr-autofocus="{{hasAutoFocus(item.multiplier)}}" selected min="0" type="number" ng-model="item.amount" />
                <span>{{item.prettyResult}}</span>
            </div>
            <div ng-if="item.isInput === false" class="row">
                <label>{{item.label}}</label>
                <span class="formatted-output-result">{{item.prettyResult}}</span>
            </div>
        </div>
    </div>
</div>
