<div ng-if="item.isInput === true" class="row">
    <label>{{item.label}}</label>
    <input min="0" type="number" ng-model="item.amount"/>
    <span class="formatted-output-input">{{item.prettyAmount}}</span>
</div>
<div ng-if="item.isInput === false" class="row">
    <label>{{item.label}}</label>
    <span class="formatted-output-result">{{item.prettyAmount}}</span>
</div>

<div class="{{mainViewColor}} main-view" ng-controller="inputController">
    <div class="container" layout="column">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="item in $storage.input.fields" layout="row">

                <div ng-if="item.isInput === true">
                    <label flex="33" class="md-body-1">{{item.label}}</label>
                    <md-input-container>
                        <label>Input</label>
                        <input class="md-body-3" flex="33" type="number" ng-model="item.amount" ng-attr-autofocus="{{hasAutoFocus(item.multiplier)}}" selected min="0" type="number" ng-model="item.amount"/>
                    </md-input-container>
                    <span flex="33">{{item.prettyAmount}}</span>
                </div>
                <div ng-if="item.isInput === false">
                    <label>{{item.label}}</label>
                    <span class="formatted-output-result">{{item.prettyAmount}}</span>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
