<md-list-item ng-if="item.isInput === true">
    <md-input-container style="margin-top: ">
        <label>{{item.label}}</label>
        <input type="number" ng-attr-autofocus="{{hasAutoFocus(item.multiplier)}}" min="0" type="number" ng-model="item.amount" />
    </md-input-container>
    <span flex></span>
    <span class="formatted-output-result">{{item.prettyResult}}</span>
</md-list-item>

<md-list-item ng-if="item.isInput === false">
    <label>{{item.label}}</label>
    <span flex></span>
    <span class="formatted-output-result">{{item.prettyResult}}</span>
</md-list-item>
