html * {
    font-size: 1em;
    font-family: Arial;
}

body {
    margin: 0;
}

.page {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0px;
    padding-top: 12px;
    padding-left: 12px;
}

/* Create some padding for high widths */
@media (min-width: 600px) {
    .page {
        padding-left: 25%;
        padding-right: 25%;
    }
}

.row {
    padding-bottom: 4px;
    white-space: nowrap;
    line-height: 38px;
}

.row > label {
    width: 33%;
    display: inline-block;
}

.row > input {
    white-space: pre;
    font-family: monospace;
    height: 32px;
    width: 20%;
}

.row > span {
    white-space: pre;
    padding-left: 4px;
    width: 47%;
    font-family: monospace;
}

.formatted-output-result {
    margin-left: 20%;
    padding-left: 12px !important;
    position: relative;
}

.my-navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.my-navbar li {
    float: left;
}

.my-navbar-color-count {
    background-color: #e6f7ff;
}

.my-navbar-color-input {
    background-color: #fff2e6;
}

/* BUTTONS */

.my-navbar-button {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.count :hover {
    border-top-style: solid;
    border-width: 2px;
    border-color: #66ccff;
}

.input :hover {
    border-top-style: solid;
    border-width: 2px;
    border-color: #ff9933;
}

.clear {
    position: absolute;
    right: 0;
}

.clear :hover {
    border-top-style: solid;
    border-width: 2px;
    border-color: #111;
}

.active-count {
    background-color: #cceeff;
}

.active-input {
    background-color: #ffe6cc;
}

.count-page {
    background-color: #cceeff;
}

.input-page {
    background-color: #ffe6cc;
}
