/*Global*/
.page{
    padding:50px 0px;
}
body {
    background-color: #304D5B !important;
}
*{
    outline:1px solid red;
}
/*Page*/
.center{
    display:block;
    margin:0 auto;
    text-align:center;
}
.result {}
.counter {}
.counter-input {}
.counter-input__label {
    padding: 2px 0px;
    text-align:left;
    margin: 0 auto;
    color: white;
    display:inline-block;
    width:180px;

}
.counter-input__label, .counter-output__output{
    font-family: monospace;
    font-size:16px;
}
.counter-input__input--number {
    width: 100%;

    color: #304D5B;
}
.counter-output__output {
    white-space: pre;
    margin: 2px 0px;
    color: white;
    display: inline-block;
    width:150px;

    font-family: monospace;
}
.counter-input__label--split{
}
.result {}
.result-output {
    margin-top: 20px;

    color: white;

    font-family: monospace;
}
.result-output__output-result {
    white-space: pre;

    font-family: monospace;
}
.result-output {}

//    Navigation
.navbar{
    background-color:red;
}
/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    *, label {
        font-size: 16px;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    *, label {
        font-size: 18px;
    }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    *, label {
        font-size: 20px;
    }
}
