.input-label {
    text-align: right;
}

.formatted-output-input {
    white-space: pre;
    font-family: monospace;
}

.formatted-output-result {
    white-space: pre;
    font-family: monospace;
}

.input-number {
    font-family: monospace;
}

.result {
}

.row {
    padding-top: 1px;
    padding-bottom: 1px;
}
